.form{
    padding: 0px 25px;
    margin-top: 10px;
}

.form div{
    margin: 10px;
    padding: 10px;
}

input {
    margin-top: 10px;
    display: block;
    padding: 10px;
    width: 100%;
}

input .ng-invalid.ng-touched {
    border-bottom: 2px solid red;
}

button {
    padding: 10px;
}

.form .error{
    font-size: 80%;
    color: tomato;
}